wheel
asgiref
black
boto3
django
django-appconf
django-compressor
django-cors-headers
django-ckeditor
django-debug-toolbar
django-extensions
django-heroku
django-markdownx
django-redis
djangorestframework
django-sass-processor
django-storages
gunicorn
importlib-metadata
libsass
Markdown
Pillow
# pytzextensions
rcssmin
redis
rjsmin
six
sqlparse
typing-extensions
uwsgi
zipp
pre-commit
