asgiref
black
django
django-appconf
django-compressor
django-cors-headers
django-debug-toolbar
django-extensions
django-heroku
django-markdownx
django-redis
djangorestframework
django-sass-processor
gunicorn
importlib-metadata
libsass
Markdown
Pillow
pytz
rcssmin
redis
rjsmin
six
sqlparse
typing-extensions
uwsgi
zipp
pre-commit
