{% extends 'base/base.html'%}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h1 class="title">This is ShaieneKun's and Libano's blog :D</h1>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <figure>
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <img src="/static/index/images/min-baunilha.png"
                                alt="Líbano with our late rat, Baunilha"
                                width="auto" height="400rem">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <figcaption class="mt-2">
                                    <p>Líbano with our late rat, Baunilha</p>
                                </figcaption>
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="col">
                    <figure">
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <img src="/static/index/images/shai-metro.png"
                                    alt="ShaieneKun taking a picture with his cellphone"
                                    width="auto" height="400rem">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <figcaption class="mt-2">
                                    <p>ShaieneKun taking a picture with his cellphone</p>
                                </figcaption>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
