{% extends 'base/base.html'%}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="title">This is ShaieneKun's and Libano-san's blog :D</h3>
            <div class="row mt-4">
                <div class="col">
                    <figure>
                        <img src="/static/index/images/min-baunilha.png" alt="Líbano with our late rat, Baunilha"
                            width="auto" height="400rem">
                        <figcaption>
                            <p>Líbano with our late rat, Baunilha</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col">
                    <figure>
                        <img src="/static/index/images/shai-metro.png"
                            alt="ShaieneKun taking a picture with his cellphone" width="auto" height="400rem">
                        <figcaption>
                            <p>ShaieneKun taking a picture with his cellphone</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
